body,td {
	font-family:µ¸¿ò;
	font-size:9pt;
	color:#444444;
	letter-spacing:normal;
	line-height:normal;
}

BODY 
{ 
background-color:#ffffff;
	scrollbar-face-color:#FFFFFF;
	scrollbar-highlight-color: #DDDDDD;
	scrollbar-3dlight-color: #EEEEEE;
	scrollbar-shadow-color: #CCCCCC;
	scrollbar-darkshadow-color: #EEEEEE;
	scrollbar-track-color: #EFEFEF;
	scrollbar-arrow-color: #DDDDDD;
background-color:transparent;
margin-top: 0;
margin-left: 0;
margin-bottom : 0;
}

p {margin-top:0px; margin-bottom:0px;}
div {font-family:µ¸¿ò; font-size:9pt; letter-spacing:normal; line-height:normal;}
select,option {background-color:#FFFFFF; font-family:µ¸¿ò; font-size:9pt; color:#666666; letter-spacing:normal; line-height:normal;}

.textarea {border:0px solid #CCCCCC; background-color:#FFFFFF; font-family:µ¸¿ò; font-size:9pt; color:#444444; letter-spacing:normal; line-height:normal;}
.text {height:19px; border:1px solid #CCCCCC; background-color:#FFFFFF; font-family:µ¸¿ò; font-size:9pt; color:#444444; letter-spacing:normal; line-height:120%;}
.submit {height:19px; border:1px solid #CCCCCC; background-color:#FFFFFF; background-image:url(images/sw_a_sback.gif); background-repeat:repeat-x; font-family:µ¸¿ò; font-size:9pt; color:#777777; letter-spacing:normal; line-height:140%; cursor:hand;}
.button {height:19px; border:1px solid #CCCCCC; background-color:#FFFFFF; background-image:url(images/sw_a_sback.gif); background-repeat:repeat-x; font-family:µ¸¿ò; font-size:9pt; color:#777777; letter-spacing:normal; line-height:140%; cursor:hand;}
.witt {width:54px; height:17px; background-image:url(images/sw_wt_bgi.gif); background-repeat:repeat-x;}
.title {height:25px; background-image:url(images/sw_title_bgi.gif); background-repeat:repeat-x;}

.a_style_0 {cursor:hand;}

.sw_ft_style_0 {font-family:µ¸¿ò; font-size:9pt; color:#444444; letter-spacing:normal; line-height:normal;}
.sw_ft_style_1 {font-family:µ¸¿ò; font-size:9pt; color:#888888; letter-spacing:normal; line-height:normal;}
.sw_ft_style_2 {font-family:µ¸¿ò; font-size:9pt; color:#CCCCCC; letter-spacing:normal; line-height:normal;}
.sw_ft_style_3 {font-family:µ¸¿ò; font-size:8pt; color:#888888; letter-spacing:normal; line-height:normal;}
.sw_ft_style_4 {font-family:µ¸¿ò; font-size:8pt; color:#CCCCCC; letter-spacing:normal; line-height:normal;}

.sw_bg_style_0 {background-color:#E0E0E0;}
.sw_bg_style_1 {background-color:#EEEEEE;}
.sw_bg_style_2 {background-color:#F7F7F7;}
.sw_bg_style_3 {background-color:#FFFFFF;}
.sw_bg_style_4 {background-color:#F3F3F3;}

.sw_bd_style_0 {border:1px solid #D9D9D9;}
.sw_bd_style_1 {border:2px solid #EDEDED;}
.sw_bd_style_2 {border:2px solid #D9D9D9;}
.sw_bd_style_3 {border:2px solid #D9D9D9; background-color:#EFEFEF;}
.sw_bd_style_4 {border:1px solid #D9D9D9; background-color:#EFEFEF;}
.sw_bd_style_5 {border:1px solid #CCCCCC; background-color:#FFFFFF;}
.sw_bd_style_6 {border:1px solid #CCCCCC;}
.sw_bd_style_7 {border:0px solid #CCCCCC;background-color:ffffff;background-image: url(images/textarea_bgline.gif); background-repeat-y;}
.sw_bd_style_8 {border-left:1px solid; border-right:1px solid; border-color:#D9D9D9;}

.sw_MouseOver_0 {background-color:#F7F7F7;}
.sw_MouseOut_0 {background-color:#;}

a:link    {font-family:µ¸¿ò; font-size:9pt; color:#666666; text-decoration:none;}
a:visited {font-family:µ¸¿ò; font-size:9pt; color:#666666; text-decoration:none;}
a:active  {font-family:µ¸¿ò; font-size:9pt; color:#444444; text-decoration:none;}
a:hover   {font-family:µ¸¿ò; font-size:9pt; color:#444444; text-decoration:none;}
