body,td,div {
	font-family:±¼¸²;
	font-size:10pt;
	color:#444444;
	letter-spacing:normal;
	line-height:140%;
}
p {margin-top:0px; margin-bottom:0px;}

A:link    {color:#F2955C;text-decoration:none;}
A:visited {color:red;text-decoration:none;}
A:active  {color:red;text-decoration:none;}
A:hover  {color:#F2955C;}

img {border:0px;}
select,option {background-color:#FFFFFF; font-family:µ¸¿ò; font-size:9pt; color:#666666; letter-spacing:normal; line-height:normal;}

.memo {word-wrap:break-word; word-break:break-word; word-break:keep-all;}

.textarea {border:solid 1px;border-color:#cccccc;font-size:10pt;color:#302404;background-color:#ffffff;background-image: url(images/textarea_bgline.gif); background-repeat-y;}
.input {height:19px; border:1px solid #C4C4C4; background-color:#FFFFFF; font-family:µ¸¿ò; font-size:9pt; color:#444444; letter-spacing:normal; line-height:120%;}
.submit {height:19px; border:1px solid #CCCCCC; background-color:#FFFFFF; background-image:url(images/sw_a_sback.gif); background-repeat:repeat-x; font-family:µ¸¿ò; font-size:9pt; color:#777777; letter-spacing:normal; line-height:140%; cursor:pointer;}
.button {height:19px; border:1px solid #CCCCCC; background-color:#FFFFFF; background-image:url(images/sw_a_sback.gif); background-repeat:repeat-x; font-family:µ¸¿ò; font-size:9pt; color:#777777; letter-spacing:normal; line-height:140%; cursor:pointer;}
.witt {width:54px; height:17px; background-image:url(images/sw_wt_bgi.gif); background-repeat:repeat-x;}
.title {height:25px; background-image:url(images/sw_title_bgi.gif); background-repeat:repeat-x;}
.a_style_0 {cursor:pointer;}
.sw_tr_style_0 {height:26px;}
.sw_tr_style_1 {height:26px; background-color:#F5F5F5;}

.sw_ft_style_0 {font-family:µ¸¿ò; font-size:9pt; color:#777777; letter-spacing:normal; line-height:normal;}
.sw_ft_style_1 {font-family:µ¸¿ò; font-size:9pt; color:#888888; letter-spacing:normal; line-height:normal;}
.sw_ft_style_2 {font-family:µ¸¿ò; font-size:9pt; color:#CCCCCC; letter-spacing:normal; line-height:normal;}
.sw_ft_style_3 {font-family:µ¸¿ò; font-size:9pt; color:#888888; letter-spacing:normal; line-height:normal;}
.sw_ft_style_4 {font-family:µ¸¿ò; font-size:9pt; color:#CCCCCC; letter-spacing:normal; line-height:normal;}
.sw_ft_style_5 {font-family:¹ÙÅÁ; font-size:9pt; color:#111111; letter-spacing:normal; line-height:normal;}

.sw_bg_style_0 {background-color:#E0E0E0;}
.sw_bg_style_1 {background-color:#EEEEEE;}
.sw_bg_style_2 {background-color:#F7F7F7;}
.sw_bg_style_3 {background-color:#FFFFFF;}
.sw_bg_style_4 {background-color:#F3F3F3;}

.sw_bd_style_0 {border:1px solid #D9D9D9;}
.sw_bd_style_1 {border:2px solid #EDEDED;}
.sw_bd_style_2 {border:2px solid #D9D9D9;}
.sw_bd_style_3 {border:2px solid #D9D9D9; background-color:#EFEFEF;}
.sw_bd_style_4 {border:1px solid #D9D9D9; background-color:#EFEFEF;}
.sw_bd_style_5 {border:1px solid #CCCCCC; background-color:#FFFFFF;}
.sw_bd_style_6 {border:1px solid #CCCCCC;}
.sw_bd_style_7 {border:0px solid #CCCCCC;background-color:#ffffff;background-image: url(images/textarea_bgline.gif); background-repeat-y;}

.sw_MouseOver_0 {background-color:#F7F7F7;}
.sw_MouseOut_0 {background-color:#;}

.thm7pt {font-family:tahoma;font-size:8pt}

.ment {border:1px solid; border-color:#e7e7e7; background-color:#fafafa; font-size:9pt; table-layout:fixed}
.ment_text {color:#666666;font-size:9pt;line-height:140%;padding:10px;}

.line1 {background-color:#D3D3D3; padding:0px}
.line2 {background-color:#EBEBEB; padding:0px}

.title_head {background-image: url(images/list_head_back.gif); background-repeat-x; height:55px;}
.title1 {background-image: url(images/list_back1.gif); background-repeat-x; height:45px;}
.title2 {background-image: url(images/list_back2.gif); background-repeat-x; height:45px;line-height:100%;}
.title3 {background-image: url(images/list_back3.gif); background-repeat-x; height:45px;}

.list_main1 {background-image: url(images/list_main_bg1.gif); background-repeat-x; height:55px;}
.list_main2 {background-image: url(images/list_main_bg2.gif); background-repeat-x; height:55px;}
.list_main2_2 {background-image: url(images/list_main_bg2_2.gif); background-repeat-x; height:55px;}
.list_main3 {background-image: url(images/list_main_bg3.gif); background-repeat-x; height:55px;}
.list_main3_2 {background-image: url(images/list_main_bg3_2.gif); background-repeat-x; height:55px;}
.list_main4 {background-image: url(images/list_main_bg4.gif); background-repeat-x; height:55px;}
.list_notice3 {background-image: url(images/list_notice_bg3.gif); background-repeat-x; height:55px;}
.list_notice4 {background-image: url(images/list_notice_bg4.gif); background-repeat-x; height:55px;}

.list0 {background-color:#f7f7f7; height:45px; font-size:9pt;}
.list1 {background-color:#ffffff; height:45px; font-size:9pt;}

.cm0 {background-color:#F0F0F0; height:15px; font-size:9pt;}
.cm1 {background-color:#FAFAFA; height:15px; font-size:9pt;}

.list2 {border-width:1px; border-color:black; border:solid;}
.list3 {background-color:#FAFAFA; height:25px; font-size:9pt;}


.title_han {color:#ffffff;font-weight:bold;font-size:9pt}
.title2_han {color:#000000;font-weight:bold;font-size:11pt}
.title_han2 {color:#565656;font-weight:bold;font-size:9pt}
.title_han3 {color:#cccccc;font-weight:none;font-size:9pt}
.title_han4 {color:#E38260;font-style:tahoma;font-size:9pt}
.list_han {color:#404040;font-size:10pt;text-decoration:none;text-decoration:none}

.com {font-size:8pt;font-weight:bold;font-family:tahoma}
.com2 {font-size:10pt;font-family:tahoma}
.com3 {font-size:8pt;color:#929292;font-family:tahoma}
.com4 {font-size:8pt;color:#FF0000;font-family:tahoma}
.com5 {font-size:8pt;color:#cccccc;font-family:tahoma}
.com6 {font-size:8pt;color:#084D82;font-family:tahoma}
.com7 {font-size:8pt;color:#ffffff;font-family:tahoma}
.com8 {font-size:8pt;color:#3E3E3E;font-family:tahoma}
.com9 {font-size:10pt;color:#f9f9f9;background-color:#424242;font-family:tahoma;word-wrap:break-word;word-break:break-word;word-break:keep-all;}


.title_font {font-size:8pt;color:#ffffff;font-family:tahoma}
.title_font2 {font-size:9pt;color:#ffffff;font-family:tahoma}

.title_eng {font-family:tahoma;color:#FFFFFF;font-weight:bold;font-size:9pt;text-decoration:none}
.list_eng {font-family:tahoma;color:#565656;font-size:9pt;text-decoration:none}

.shadow {filter:progid:DXImageTransform.Microsoft.Shadow(color=#C0C0C0,Direction=135,Strength=5)}
.shadow2 {filter:progid:DXImageTransform.Microsoft.Shadow(color=#C0C0C0,Direction=135,Strength=3)}
.shadow3 {filter:progid:DXImageTransform.Microsoft.Shadow(color=#C0C0C0,Direction=45,Strength=2)}
.shadow4 {filter:progid:DXImageTransform.Microsoft.Shadow(color=#D3C7C0,Direction=135,Strength=6)}
.shadow5 {border-width:4px;border-color:#cccccc;border-style:solid;filter:progid:DXImageTransform.Microsoft.Shadow(color=#ffffff,Direction=135,Strength=10)}
.shadow_op {filter:progid:DXImageTransform.Microsoft.Shadow(color=#C0C0C0,Direction=135,Strength=7)
						 progid:DXImageTransform.Microsoft.Alpha( Opacity=50, FinishOpacity=0, Style=0, StartX=0,  FinishX=100, StartY=0, FinishY=0)}
.shadow_op3 {filter:progid:DXImageTransform.Microsoft.Shadow(color=#C0C0C0,Direction=135,Strength=3)
						 progid:DXImageTransform.Microsoft.Alpha( Opacity=50, FinishOpacity=0, Style=0, StartX=0,  FinishX=100, StartY=0, FinishY=0)}
.shadow_vt {filter:progid:DXImageTransform.Microsoft.Shadow(color=#C0C0C0,Direction=135,Strength=7)
				        progid:DXImageTransform.Microsoft.Alpha( Opacity=100, FinishOpacity=0, Style=1, StartX=0,  FinishX=100, StartY=0, FinishY=0)}
.fade {filter:progid:DXImageTransform.Microsoft.Fade(duration=0.5,overlap=1.0)}
.alpha1 {filter:alpha(style=1,opacity=100, finishopacity=0)}
.alpha30 {filter:alpha(style=0,opacity=40, finishopacity=0)}
