BODY,TD,DIV,form,center,pre,blockquote {font-size:10pt;font-family:굴림;color:#000000}
p {margin-top:0px; margin-bottom:0px;}
IMG {border:0px;}

select,option {font-size:9pt;font-family:tahoma;color:#13485D;background-color:#B4D2DE}

TD {line-height:140%}

body{
	scrollbar-face-color:#CCCCCC;
	scrollbar-highlight-color: #DDDDDD;
	scrollbar-3dlight-color: #EEEEEE;
	scrollbar-shadow-color: #CCCCCC;
	scrollbar-darkshadow-color: #EEEEEE;
	scrollbar-track-color: #EFEFEF;
	scrollbar-arrow-color: #DDDDDD;
}

A:link    {color:navy;text-decoration:none;}
A:visited {color:purple;text-decoration:none;}
A:active  {color:red;text-decoration:none;}
A:hover  {color:navy;}

.memo {color:#000000;font-size:10pt;text-decoration:none;word-wrap:break-word;word-break:break-word;word-break:keep-all;}

textarea {border:solid 1px;border-color:#347088;font-size:10pt;color:#042330;background-color:white;}
submit {border:solid 1px;border-color:#739BAB;font-size:9pt;color:#042330;background-color:white;height:19px}
button {border:solid 1px;border-color:#739BAB;font-size:9pt;color:#042330;background-color:white;height:19px}

.thm7pt {font-family:tahoma;font-size:8pt}

.ment {border:1px solid; border-color:#e7e7e7; background-color:#fafafa; font-size:9pt; table-layout:fixed}
.ment_text {color:#666666;font-size:9pt;line-height:140%;padding:10px;}

.line1 {background-color:#B4D2DE; padding:0px}
.line2 {background-color:#D7EDF2; padding:0px}

.title {background-image: url(list_back.gif); background-repeat:repeat-x; height:33px;}
.list0 {background-color:#EEF3F6; height:28px; font-size:9pt;}
.list1 {background-color:#F7FAFB; height:28px; font-size:9pt;}

.title_han {color:#FFFFFF;font-weight:bold;font-size:10pt}
.title2_han {color:#003399;font-weight:bold;font-size:11pt}
.list_han {color:#000000;font-size:10pt;text-decoration:none;}

.title_eng {font-family:tahoma;color:#FFFFFF;font-weight:bold;font-size:9pt;text-decoration:none}
.list_eng {font-family:tahoma;color:#13485D;font-size:9pt;text-decoration:none}